.banner {

}

.banner--cube3d {
  display: flex;

  width: 534px;
  padding: 15px;
  padding-bottom: 10px;

  background: $yellow;
}

.banner--gifts {
  position: relative;

  width: 564px;

  background: $violet;
}

.banner--cube3d .banner__img {
  position: relative;

  margin-right: 44px;
}

.banner__gift {
  position: absolute;
  top: -10px;
  right: -40px;
}

.banner__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  position: relative;

  width: 290px;

  font-size: 16px;
}

.banner__header {
  width: 100%;
  margin: 0;

  font-family: proxima-bold, Arial, sans-serif;
  font-size: 31px;
  line-height: 38px;
}

.banner__phrase {
  width: 100%;
  margin: 0;
}

.banner__price {
  display: flex;
  flex-direction: column;

  font-family: proxima-bold, Arial, sans-serif;
}

.banner__price--new {
  font-size: 36px;
  line-height: 36px;
  color: $pink;
}

.banner__price--old {
  align-self: flex-start;

  position: relative;

  margin: 0;

  color: #000000;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(4deg);

    width: 65px;
    height: 2px;

    background: $pink;
  }
}

.banner__btn {
  padding: 16px;

  background: $pink;

  font-family: proxima-bold, Arial, sans-serif;
  font-size: 18px;
  line-height: 12px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: $yellow;
  }

  &:active {
    background: $violet;
  }
}

.banner__btn {
  position: absolute;
}

.banner--cube3d .banner__btn {
  right: 0;
  bottom: 12px;
}

.banner--gifts .banner__btn {
  right: 34px;
  bottom: 22px;
}
