.banners {
  min-width: 320px;
  width: 90%;
  max-width: 1170px;

  font-family: proxima-regular, Arial, sans-serif;
  color: #000000;

  outline: 1px solid pink;
}

.banners__head {
  margin: 0;
  margin-bottom: 15px;

  font-size: 40px;

  outline: 1px solid green;
}

.banners__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  outline: 1px solid blue;
}

.banners__banner {
  width: 535px;

  margin-bottom: 15px;

  background: $yellow;
  outline: 1px solid black;
}
