@font-face {
  font-weight: 600;
  font-family: "proxima-bold";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/proximanova-bold.woff2") format("woff2"), url("../fonts/proximanova-bold.woff") format("woff"); }

@font-face {
  font-weight: 400;
  font-family: "proxima-regular";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/proximanova-regular.woff2") format("woff2"), url("../fonts/proximanova-regular.woff") format("woff"); }

@font-face {
  font-weight: 600;
  font-family: "umnik-bold";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/umnik-bold.woff2") format("woff2"), url("../fonts/umnik-bold.woff") format("woff"); }

html, body {
  margin: 0; }

img {
  display: block; }

main {
  font-family: proxima-regular, Arial, sans-serif;
  color: #000000; }

.btn {
  padding: 16px 6px;
  background: #ff0072;
  font-family: proxima-bold, Arial, sans-serif;
  font-size: 16px;
  line-height: 12px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none; }

@media (min-width: 580px) {
  .btn {
    padding: 16px;
    font-size: 18px; } }

.banners {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: 0 auto; }

.banners__header {
  margin: 0 0 15px 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400; }

.banners__banner {
  margin-bottom: 20px; }

@media (min-width: 1128px) {
  .banners {
    justify-content: flex-start; }
  .banners__banner:nth-of-type(1n) {
    margin-right: auto; }
  .banners__banner:nth-of-type(2n) {
    margin-right: 0; } }

.banner {
  width: 90%;
  padding: 15px;
  box-sizing: border-box; }

.banner--cube3d {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  background: #ffe12f; }

.banner--gifts {
  position: relative;
  background: #833a94; }

.banner__link {
  text-decoration: none; }
  .banner__link:hover {
    opacity: 0.8; }
  .banner__link:active {
    opacity: 0.6; }

.banner--cube3d .banner__link {
  align-self: center;
  position: relative; }

.banner--gifts .banner__link {
  display: flex;
  flex-direction: column; }

.banner--gifts .banner__img {
  display: none; }

.banner__extragift {
  position: absolute;
  top: -10px;
  right: -40px; }

.banner__info {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  text-align: center; }

.banner__header,
.banner__phrase,
.banner__timer {
  width: 80%;
  margin: 0 auto; }

.banner__header {
  font-family: proxima-bold, Arial, sans-serif;
  font-size: 30px;
  line-height: 38px; }

.banner--gifts .banner__header {
  margin: 0 0 70px 0;
  color: #ffffff; }

.banner__phrase {
  margin-bottom: 10px; }

.banner--cube3d .btn:hover {
  color: #ffe12f; }

.banner--gifts .btn {
  position: absolute;
  right: 15px;
  bottom: 22px; }
  .banner--gifts .btn:hover {
    color: #833a94; }

@media (min-width: 580px) {
  .banner {
    width: 564px; }
  .banner--cube3d {
    flex-direction: row; }
  .banner--cube3d .banner__link {
    margin: 0 44px 0 0; }
  .banner--gifts {
    padding: 0; }
  .banner--gifts .banner__img {
    display: block; }
  .banner--gifts .banner__header {
    display: none; }
  .banner__info {
    width: 290px;
    text-align: left; }
  .banner__header,
  .banner__phrase,
  .banner__timer {
    width: 100%;
    margin-right: 0;
    margin-left: 0; } }

.timer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; }

.timer__wrapper {
  width: 80px;
  margin-right: 10px; }

.timer__wrapper:nth-child(3) {
  margin-right: 0; }

.timer__time {
  display: flex; }

.timer__time output {
  position: relative;
  width: 50%;
  font-family: umnik-bold, Arial, sans-serif;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 0 10% 10% 0;
  background: #ffffff; }

.timer__time output:nth-child(1) {
  border-radius: 10% 0 0 10%;
  border-right: 2px dashed #ffe12f; }

.timer__title {
  display: block;
  margin: 0;
  text-align: center; }

.price {
  display: flex;
  justify-content: space-between;
  font-family: proxima-bold, Arial, sans-serif; }

.price__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.price__new {
  font-size: 36px;
  line-height: 36px;
  color: #ff0072; }

.price__old {
  position: relative;
  margin: 0;
  color: #000000; }
  .price__old::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(4deg);
            transform: translate(-50%, -50%) rotate(4deg);
    width: 65px;
    height: 2px;
    background: #ff0072; }

.price__btn {
  align-self: flex-start; }
